body{
  overflow-x: hidden;
}

@font-face{
  font-family: musi;
  src: url(./font/musinsa-Medium.ttf)
}
@font-face{
  font-family: Pre;
  src: url(./font/PretendardVariable.ttf);
}
*{margin: 0;}
::-webkit-scrollbar {
  display: none;
}
.Mainscreen1{
  display: block;
  width: 100%;
  height: 1080px;
  /* border: 2px solid #ff0000; */
}
#master {
  display: block;
  position: relative;
}
#small {

  display: none;
  overflow: hidden;
}
#iphone {

  display: none;
  overflow: hidden;
}


.musinsa {
  color: #ffffff;
  font-family: musi;
  font-size: 40px;
  position: absolute;
  width: 100%;
  top: 35px;
  text-align: center;
}


 .gnb{
  box-sizing: border-box;
  background-color: #111111;
  height: 150px;
  position: relative;
}


.container { /* 상단 메인카테고리*/
  display: flex;
  justify-content: center; /* 메인축 방향 가운데 정렬 */
  gap: 60px;
}


.container{ /* 상단 메인카테고리 세부속성*/
  font-family: musi;
  font-size: 20px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 103px;
  left: 0;
  width: 100%;
  z-index: 1;
  }

  .gradien{/* 상단 배경그라디언트 */
    background-image: radial-gradient(circle, #272c30,#111111,#000000); /* Radial 그라데이션 적용 */
    width: 100%;
    position: static;
    margin-top: 0;
    top: 0;
    left: 0;
    height: 930px;
    z-index: -1;
  }
  .container2 { /* 상단ai 추천상품 */
    display: flex;
    position: absolute;
    width: 100%;
    top: 247px;
    font-size: 45px;
    font-family: musi;
    gap: 10px;
    margin-left: 115px;
  }
  .itemai{
    color: #0066FF;
  }
  .itemai2{
    color: #ffffff;
  } 
    .Setter{ /* 상단ai 상품항목  */
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100%;
      top: 587px;
      color: #ffffff;
      margin-left: 132px;
      z-index: 2;

    }
    .setter:nth-child(1){
      font-family: pre;
      font-size: 32px;
      font-weight: 600;
    }
    .setter:nth-child(2){
      font-family: pre;
      font-size: 24px;
      margin-top: 5px;
      font-weight: 500;
    }
    .setter:nth-child(3){
      font-family: pre;
      font-size: 16px;
      margin-top: 3px;
      font-weight: 400;
    }

    .line-box { /* 상단 자세히보기박스  */
      align-items: center;
      justify-content: center;
      display: flex;
      width: 100px; 
      height: 40px; 
      border: 2px solid #FBFBFB; 
      border-radius: 8px; 
      position: absolute;
      z-index: 5;
      top: 707px;
      left: 132px;
    }
    .line-box-text{ /* 자세히보기> */
      font-family: pre;
      font-size: 13px;
      color: #ffffff;
      /* border: 3px solid #ff0000; */
    }
    .navi-barbox{
      display: flex;
      /* flex-direction: row; */
      background-color: #ffffff;
      position: absolute;
      width: 80%;
      height: 4px;
      left: 132px;
      top: 986px;
      /* border: 3px solid #ff0000; */
    }
    
    .navigationbar{ /* 상단 네비게이터 바  */
      align-items: center;
      width: 20%;
      height:4px;
      justify-content: center;
      position: relative;
      /* border: 3px solid #ff0000; */
      background-color: #0066FF;
    }
    .navigationbar2{ /* 상단 네비게이터 바  */
      align-items: center;
      width: 100%;
      height:4px;
      justify-content: center;
      position: relative;
      /* border: 3px solid #ff0000; */
      background-color: #ffffff;
    }

    .gradient-box{ /* 상단 그라디언트 라인 플렉스박스 */
      display: flex;
      position: absolute;
      width: 100%;
      height: 200px;
      align-items: center;
      justify-content: center;
      /* border: 3px solid #ff0000; */
      top: 500px
    }
    .line-gradient { /* 상단 그라디언트 라인  */
      width: 800px;
      height: 2px; 
      background-image: linear-gradient(to right, rgba(0,0,0,0), #ffffff, rgba(0,0,0,0));
      z-index: 1;
      /* border: 3px solid #ff0000; */
    }

    .img1{
      /* border: 3px solid #ff0; */
      position: absolute;
      top: 400px;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 615px;
      height: 839px;
      z-index: 2;
      margin-top: 180px;
    }
    .img1>img{
      width: 100%;
    }
/*--------------------------메인2----------------------------*/
    .Mainscreen2{
      display: block;
      width: 100%;
      height: 856.5px;
      box-sizing: content-box;
      border: 2px solid #ffffff;
    }

.wishlist{
  /* border: 3px solid #00ff59; */
  color: #ffffff;
  display: flex;
  position: relative;
  gap: 10px;
  padding-left: 187px;
  margin-top: 140px;
  height: 95px;
}
.itembox1{
  font-family: musi;
  font-size: 32px;
  color: #0066FF;
}
.itembox1:nth-child(2){
  font-family: musi;
  font-size: 32px;
  color: #000000;
}

.category1{
  display: flex;
  flex-direction: row;
  gap: 8px;
  position: absolute;
  padding-top: 54px;/*메인스크린 140마진 값을 빼야 원래값이 나옴*/
}
.catbox{
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  border: 1.5px solid #CCCCCC; /* 라인 박스 테두리 */
  padding: 10px 20px;
  border-radius: 40px; 
  flex: 0 1 auto; /* 내부 콘텐츠에 따라 크기 조정 */
}
.catbox-text{
  font-family: pre;
  font-size: 18px;
  font-weight: 500;
  color: #999999;
}

.pro-box{
  display: flex;
  height: 550px;
  /* border: 3px solid black; */
  margin-top: 14px;
  margin-left: 187px;
  gap: 10px;
}
.image-container {
  width: 379px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1;
  /* border-radius: 8px; */
  /* border: 3px solid #ff0000; */
}
.image-container img {
  max-width: 100%;
  max-height: 100%;
}
.product-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  /* border: 3px solid rgb(43, 0, 255); */
}
.product-info .brand {
  color: #000000;
  margin-top: 15px;
  font-family: pre;
  font-weight: 600;
  font-size: 18px
  
}
.product-info .name {
  color: #000000;
  margin-top: 10px;
  font-family: pre;
  font-weight: 300;
  font-size: 16px
}
.product-info .price0 {
  color: #B3B3B3;
  margin-top: 20px;
  font-family: pre;
  font-weight: 600;
  font-size: 13px
}
.product-info .price {
  color: #000000;
  margin-top: 3px;
  /* border: 3px solid rgb(14, 0, 83); */
  font-size: 16px;
  display: flex;
  flex-direction: row;
}
.pri1{
  font-family: pre;
  font-weight: 600;
  height: 100%;
  /* border: 3px solid rgb(7, 149, 0); */
  color: #ff0000;
}
.pri2{
  font-family: pre;
  font-weight: 600;
  height: 100%;
  /* border: 3px solid rgb(7, 149, 0); */
}
.pri3{
  font-family: pre;
  font-weight: 600;
  margin-top: 40px;
}
.pri4{
  font-family: pre;
  font-weight: 600;
  margin-top: 20px;
}
.product-info .reviews {
  color: #999999;
  margin-top: 10px;
  font-family: pre;
  font-weight: 500;
  font-size: 13px
}
/*--------------------------메인10---------------------------*/
.Mainscreen10{
  display: block;
  width: 100%;
  height: 856.5px;
  border: 5px solid #ffffff;
}
/* 비슷한 연령대 포멀어반 */
.Similarage{ 
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  margin-top: 80.5px;
  margin-left: 187px;
  /* border: 3px solid #ff0000; */
}
.pro-box2{
  margin-left: 187px;
  margin-top: 168.5px;
  display: flex;
  gap: 10px;
}
.itembox2{
  font-family: musi;
  font-size: 32px;
  color: #000000;
}
.itembox2:nth-child(2){
  font-family: musi;
  font-size: 32px;
  color: #0066FF;
}
.price2{
  /* border: 2px solid #ff0000; */
  color: #000000;
  margin-top: 20px;
  font-family: pre;
  font-weight: 600;
  font-size: 16px
}
.price3{
    /* border: 2px solid #ff0000; */
    color: #000000;
    margin-top: 40px;
    font-family: pre;
    font-weight: 600;
    font-size: 16px
}
/*--------------------------메인3----------------------------*/
.Mainscreen3{
  display: block;
  width: 100%;
  height: 680px;
  /* border: 2px solid #ff0000; */
}
.imgbanner{
  width: 100%;
}
/*---------------------------메인4----------------------------*/
.Mainscreen4{
  display: block;
  width: 100%;
  height: 1090px;
  border: 2px solid #fff;
}
.specialh1{ 
  position: absolute;
  margin-top: 130px;
  font-family: pre;
  font-size: 52px;
  font-weight: 300;
  color: #0066FF;
  letter-spacing: 15.6px;
}
.flexbox{
  display: flex;
  justify-content: center;
}
.specialh2{
  position: absolute;
  margin-top: 215px;
  font-family: pre;
  letter-spacing: 10px;
  font-weight: 500;
  font-size: 28px;
  color: #000000;
}
.V1{
  display: flex;
  position: absolute;
  margin-top: 798px;
  gap: 278px;
  margin-left: 165px;
}
.product-info4{
  z-index: 6;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.v1{
  z-index: 6;
  font-size: 16px;
  font-family: pre;
  font-weight: 500;
  color: #808080;
}
.v2{
  z-index: 6;
  margin-top: 10px;
  font-size: 16px;
  font-family: pre;
  font-weight: 500;
}
.v3{
  z-index: 6;
  margin-top: 15px;
  font-size: 16px;
  font-family: pre;
  font-weight: 600;
}
.box30{
  z-index: 5;
  position: absolute;
  margin-top: 740px;
  width: 100%;
  height: 350px;
  background-color: #ffffff;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.1); 
}
.VVimg{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 306px;
  margin-left: 47px;
}
.vv1{
  width: 419px;
  height: 570px;
}
/*---------------------------메인5----------------------------*/
.Mainscreen5{
  display: block;
  width: 100%;
  height: 1080px;
  /* border: 2px solid #ff0000; */
}
.style{
  margin-left: 187px;
  margin-top: 65px;
}
.itembox4{
  font-family: musi;
  font-size: 32px;
  color: #000000;
}
.category2{
  gap: 8px;
  display: flex;
  flex-direction: row;
  position: absolute;
  padding-top: 30px;
}
.catbox2{
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  border: 1.5px solid #CCCCCC; /* 라인 박스 테두리 */
  padding: 10px 20px;
  border-radius: 40px; 
  flex: 0 1 auto; /* 내부 콘텐츠에 따라 크기 조정 */
}
.catbox2:nth-child(3){
  background-color: #111111;
  border: none;
}
.catbox-text2{
  font-family: pre;
  font-size: 18px;
  font-weight: 500;
  color: #999999;
}
.catbox-text3{
  color: #ffffff;
}
.style1{
  width: 379px;
  height: 553px;
}
.styleproduct-box{
  display: flex;
  gap: 10px;
  margin-top: 92px;
}

/* 스타일부분 상품상세 */
.category{
  font-family: pre;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
}
.title{
  font-family: pre;
  font-size: 18px;
  font-weight: 600;
  margin-top: 3px;
}
.date{
  font-family: musi;
  font-size: 16px;
  margin-top: 10px;
  color: #808080;
}
/*---------------------------메인6----------------------------*/
.Mainscreen6{
  display: block;
  width: 100%;
  height: 1080px;
  /* border: 2px solid #006eff; */
}
.showcase{
  /* border: 3px solid red; */
  display: flex;
  justify-content: center;
  gap: 57px;
  /* margin-left: 72px; */
  margin-top: 28px;
}
.showcase1{
  width: 863px;
  height: 1012px;
  /* border: 3px solid red; */
}

.s000{
  width: 863px;
  height: 333px;
  /* border: 3px solid red; */
  margin-top: -50px;
}
.banner2 {

  display: flex;
  width: 646px;
  height: 82px;
  /* border: 3px solid red; */
}

.left-box {
  font-family: pre;
  font-size: 32px;
  font-weight: 500;
  width: 152px;
  background-color: #2930FF;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-box {
  font-family: pre;
  font-size: 32px;
  font-weight: 500;
  flex-grow: 1;
  background-color: #0078FF;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.S1{
  margin-top: 40px;
  font-family: pre;
  font-size: 28px;
  font-weight: 500;
}
.S2{
  margin-top: 10px;
  font-family: pre;
  font-size: 47px;
  font-weight: 600;

}
.S3{
  margin-top: 20px;
  font-family: pre;
  font-size: 28px;
  font-weight: 500;
  color: #999999;
}
.S4{
  margin-top: 20px;
  font-family: pre;
  font-size: 28px;
  font-weight: 600;
  color: #0066FF;
}
/*---------------------------메인7----------------------------*/
.Mainscreen7{
  display: block;
  width: 100%;
  height: 1080px;
  /* border: 2px solid #ff0000; */
}
.magazine1{
  width: 379px;
  height: 553px;
}
.magazine-product-box{
  display: flex;
  gap: 10px;
  margin-top: 92px;
}
.title2{
  font-family: pre;
  font-size: 18px;
  font-weight: 600;
  margin-top: 18px;
}
.date2{
  font-family: musi;
  font-size: 16px;
  margin-top: 15px;
  color: #808080;
}
/*---------------------------메인8----------------------------*/
.Mainscreen8{
  display: block;
  width: 100%;
  height: 550px;
  border: 2px solid #ff0000;
}
.footer{
  width: 100%;
  height: 550px;
  box-sizing: border-box;
  background-color: #1a1a1a;
}
.footer-head{
  position: absolute;
  display: flex;
  margin-left: 50px;
  gap: 300px;
  margin-top: 50px;
}
.H1{
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #ffffff;
  
}
.h1{
  font-family: pre;
  font-size: 24px;
  font-weight: 500;
}
.H2{
  display: flex;
  flex-direction: column;
  gap: 20px; 
  color: #fff; 
}
.h2{
  font-family: pre;
  font-size: 16px;
  font-weight: 500;
  color: #808080;
}
.H3{
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}
.F1{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 343px;
  margin-left: 50px;
}
.f1{
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  font-family: pre;
  margin-top: 5px;
}
.f-1{
  font-weight: 500;
  font-size: 16px;
  color: #808080;
  margin-top: 7px;
}
.F2{
  position: absolute;
  display: flex;
  gap: 30px;
  margin-top: 399px;
  margin-left: 1447px;
}
.f2{
  font-size: 16px;
  color: #808080;
}
.F-line{
  position: absolute;
  margin-top: 430px;
  width: 1820px;
  height: 0;
  border-top: 1px solid #808080;
  margin-left: 50px;
}
.F3{
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #808080;
  margin-left: 50px;
  margin-top: 452px;
  gap: 5px;
}
.f3{
  font-family: pre;
  font-size: 16px;
  font-weight: 500;
}
.f3-flex{
  display: flex;
  gap: 10px;
}
.f3-flex2{
  display: flex;
  gap: 10px;
}
.f-3{
  color: #fff;
}
.F4{
  gap: 33px;
  margin-left: 1159px;
  margin-top: 452px;
  position: absolute;
  flex-direction: column;
  display: flex
}
.f4{
  color: #fff;
  font-family: pre;
  font-size: 16px;
  font-weight: 500;
}
.f-4{
  color: #808080;
  font-family: pre;
  font-size: 16px;
  font-weight: 500;
}
.f4-flex{
  display: flex;
  gap: 10px;
}
#noto{
  width: 1470px;
  height: 6440px;
}
@media screen and (max-width: 1500px) {
  /* 1920x1080 이상이 아닌 경우 */
  #master {
    display: none;
  }
  #small {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  #master {
    display: none;
  }
  #small {
    display: none;
  }
  #iphone {
    display: block;
  }
}